
.container
{
    border: 1px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
}

.header
{
    font-weight: bold;
}

.cardContainer
{
    border: 1px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
}